@model IEnumerable<ProductManagement.Models.Models.Product>

@{
    ViewBag.Title = "Products List";
    var switchingContext = ViewBag.ContextType == ProductManagement.Models.Models.ContextTypes.Database ? ProductManagement.Models.Models.ContextTypes.Memory : ProductManagement.Models.Models.ContextTypes.Database;
}

<!-- top tiles -->
<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-bar-chart"></i>  Total Products</span>
        <div class="count">@ViewBag.ProductsCount</div>
        <span class="count_bottom">Registered</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-info-circle"></i>  Context</span>
        <div class="count">@ViewBag.ContextType</div>
        <span class="count_bottom">Switch to <a class="blue" href='@Url.Action("ToggleContext", "Products")'>@switchingContext</a></span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-sitemap"></i>  Total Categories</span>
        <div class="count">0</div>
    </div>
</div>
<!-- /top tiles -->

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Products</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    <p>@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary pull-right" })</p>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>@Html.DisplayNameFor(model => model.ProductTitle)</th>
                                <th>@Html.DisplayNameFor(model => model.Price)</th>
                                <th>@Html.DisplayNameFor(model => model.Created)</th>
                                <th>@Html.DisplayNameFor(model => model.Updated)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        @{ 
                            var index = 1;
                            foreach (var item in Model)
                            {
                            <tr>
                                <th scope="row">@(index++)</th>
                                <td>@Html.DisplayFor(modelItem => item.ProductTitle)</td>
                                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                <td>@((item.Updated.HasValue) ? Html.DisplayFor(modelItem => item.Updated).ToHtmlString() : "N/A")</td>
                                <td>@Html.ActionLink("Delete", "Delete", new { id = item.ProductId })</td>
                            </tr>
                            }
                        }
                        </tbody>
                    </table>
                    @if(Model.Count() > 10)
                    {
                        <p>@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary pull-right" })</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>